@import "tailwindcss";

@theme inline {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
